<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>wiosapp_core_hellomultiverse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0776D1E91921748400F890ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0776D1FF1921748500F890ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078C352E1921758500354453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>078C35441921758600354453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07B5903318866047002C6FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A5752B116AAE1D2000CC4EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AE24EBF1904E95E001AEFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AE24ED81904E95E001AEFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
